* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFF2;
    color: #3F3F3F;
    padding-top: 0;
}

h1, h2, h3, h4 {
    font-family: 'Passion One', serif;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}

h1 span {
    display: block;
    width: 100%;
    font-size: 3.5rem;
    line-height: 0.9;
}

h2 {
    font-size: 2rem;
}

h3 {
    margin-bottom: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: #f6f678;
    color: #3F3F3F;
    padding: 0.75rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

header h3 {
    margin-bottom: 0;
}

header a:hover, .project-navigation a:hover  {
    text-decoration: underline;
}

#home {
    text-align: center;
    margin-top: 6rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
}

.main-artists, .other-artists, .partners, .news, .faqs {
    padding: 2rem;
}

.main-artists {
    background-color: #3d2ee1;
    color: #FFFFF2;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    margin-top: 2rem;
}

.other-artists {
    background-color: #a7ed93;
}

.other-artists h4 {
    font-size: 1.5rem;
}

.partners {
    background-color: #e4e4e4;
    width: 100%;
    padding: 2rem 1rem;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-row img {
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    opacity: 0;
    animation: fadeInOut 7s ease-in-out infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

}

.image-row img:nth-child(1) {
    animation-delay: 0s;
}

.image-row img:nth-child(2) {
    animation-delay: 0.4s;
}

.image-row img:nth-child(3) {
    animation-delay: 0.8s;
}

.image-row img:nth-child(4) {
    animation-delay: 1.2s;
}

.image-row img:nth-child(5) {
    animation-delay: 1.6s;
}

.image-row img:nth-child(6) {
    animation-delay: 2s;
}

.image-row img:nth-child(7) {
    animation-delay: 2.4s;
}

.image-row img:nth-child(8) {
    animation-delay: 2.8s;
}

.image-row img:nth-child(9) {
    animation-delay: 3.2s;
}

.image-row img:nth-child(10) {
    animation-delay: 3.6s;
}

.image-row img:nth-child(11) {
    animation-delay: 4s;
}

.image-row img:nth-child(12) {
    animation-delay: 4.4s;
}

.news {
    background-color: #3f3f3f;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.news h3 {
    color:#FFFFF2;
}

.projects, .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.news img {
    height: 14rem;
    width: 15rem;
    object-fit: cover;
    margin: 1rem 0;
}

.period, .unsocial, .aventuralia, .creativities {
    border: 1px solid #3F3F3F;
    border-radius: 0.5rem;
    width: auto;
    max-width: 18rem;
    padding: 1.5rem;
    background-color: #FFFFF2;
}

.period:hover, .unsocial:hover, .aventuralia:hover, .creativities:hover {
    transform: scale(1.05);
}

.faqs h4 {
    margin-top: 2rem;
}

footer .social-media {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer img {
    height: 2rem;
    margin: 0rem 0.4rem;
}

footer img:hover {
    transform: scale(1.3);
}

.project-intro {
    padding: 2rem;
}

.project-container {
    padding: 1rem;
    margin-bottom: 2rem;
}

.project-container ul {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
}

.use-cases, .techs, .packages {
    border: 1px solid #3F3F3F;
    border-radius: 0.5rem;
    width: 18rem;
    padding: 1.5rem;
}

.project-picture img {
    height: auto;
    width: 90%;
    object-fit: cover;
    margin-bottom: 2rem;
}

/* use of media-queries? */